# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
Lib/
Include/
Scripts/

# Sensitive keys
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Large ML Models
*.pkl
*.h5

# Media files
*.mp4
*.wav

# OS files
.DS_Store
Thumbs.db
